<!DOCTYPE html>

<html>

<head><title>Dice Roll</title></head>

<body>
<h1>Dice Roll</h1>

<form action="/process_roll">
  <label for="num_dice_id">Number of dice to roll?</label>
  <input id="num_dice_id" name="num_dice">
  <label for="num_sides_id">How many sides per die?</label>
  <input id="num_sides_id" name="num_sides">
  <button>Roll!</button>
</form>
</body>

</html>
